$footer-color: aliceblue;
$footer-background-color: #234475;

.footer-container {
  grid-row: 12/13;
  color: $footer-color;
  background-color: $footer-background-color;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1em 1em;
  font-size: 0.7em;
}

.footer-social {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer-social-container {
  display: flex;
  align-items: center;
  grid-column: span 3;
}

.footer-copy {
  display: flex;
  align-items: center;
}

.footer-link {
  color: $footer-color;
  padding-left: 0.2em;
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    height: 20px;
    margin-right: 0.2em;
  }
}

@media screen and (min-width: 500px) {
  .footer-container {
    font-size: 0.9em;
  }

  .footer-social-container {
    grid-column: span 3;
  }
}

@media screen and (min-width: 720px) {
  .footer-container {
    font-size: 1em;
  }

  .footer-social-container {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1020px) {
  .footer-container {
    font-size: 1.1em;
  }

  .footer-social-container {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    font-size: 1em;
  }

  .footer-social-container {
    grid-column: span 1;
  }
}
